* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section{
    height: 100vh;
    font-family: sans-serif;
} */

body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
    
header {
    position: relative;
    left: -250px;
    right: 499px;
    top: -20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header * {
    display:flex;
}
    
header li {
    margin: 35px;
    }
    
header li a {
    color: black;
    text-decoration: none;
}
.color-block {
    margin: -125px 260px;
    width:  400px;
    height: 650px;
    background: #A3CB37;
    float: right;
}
.intro {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    margin-top: 15%;
    margin-left: 3%;
    height: 350px;
    width: 450px;
}
.intro p {
    padding: 0px;
    margin-top: 20px;
}
.intro h1 {
    font-size:60px;
}
.intro button {
    margin-top: 20px;
    height: 40px;
    width: 130px;
    background: none;
    border: none;
    border-radius: 3px;
    background-color: #A3CB37;
    color:white ;

    
}
.profile-pic {
    height: 100vh;
}
 .profile-pic img {
     float: right;
     height: 450px;
     margin-right: 150px;
     margin-top: -250px;
 }

 .education-main {
     height: 60vh;
     margin-top: -90px;
     display: flex;
     flex-direction: row;
 }
.education-1{
    width: 50%;
}
 .hustle {
     position: relative;
     width: 50%;
     height: 50%;
     z-index: -1;
     background-image: url(./assets/bg.png);
 }
 .hustle-text {
    width: 40%;
    bottom: 38%;
    left: 25%;
    position: relative;
    z-index: +1;
 }

 .hustle-text h1 {
     font-size: 75px;
 }

 .education-info {
     width: 40%;
     display: flex;
     flex-direction: column;
 }

 .education-info h1 {
     font-size: 30px;
     color: #A3CB37;
     margin: 10px;
 }

 .education-info p {
     margin: 10px;
 }
.my-work {
    height: 112vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.my-work-text {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
}

.my-work-text h1, .my-work-text p {
    margin: 30px;
}
.my-work-text h1 {
    font-size: 50px;
}

.work-samples-main {
    height: 80%;
    width: 80%;
    margin-top: 5%;
    display:grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 300px 300px;
    
}

.work-samples a {
    color: #A3CB37;
    text-decoration: none;
}

.achievements-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80vh;
    margin-top: 100px;
}

.proud {
    width: 30%;
    height: 70%;
    margin-left: 19%;
    font-size: 60px;
    color: white;
    background-color: #A3CB37;
    align-items: center;
}

.proud h1 {
    margin-left: 30px;
}


.achievements-list {
    display: grid;
    grid-template-columns: 350px 400px;
    grid-template-rows: 200px 200px 200px;
}

.a1, .a2,.a3,.a4,.a5 {
    margin: 0 20px;
}

.hobbies-main {
    margin-left: 7%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.side-hustle {
    float: left;
    height: 40%;
    width: 20%;
    margin-top: 200px;
    margin-left: -150px;
}

.side-hustle h1 {
    color: #A3CB37;
    font-size: 80px;
}

.images-grid {
    display: grid;
    grid-template-columns: 350px 350px;

}
 .image1, .image2, .image3, .image4, .image5 {
     width: 280px;
  }
  .image3, .image4 {
      margin-right: -40px;
  }

  .image3 {
      margin-top: 80px;
  }
  .image1, .image2,.image5 {
      margin-left: -40px;
  }
  .images-grid img {
      width: 300px;
  }

  .contacts-main {
      display:flex;
      height: 40vh;
  }

  .contacts {
      width: 50%;
  }

  .contact {
      height: 55%;
      margin-top: 20%;
      width: 70%;
      background-color: #A3CB37;
      color: white;
  }

  .contact h1 {
      font-size: 40px;
      margin-top: 10%;
  }
.contact img {
    height: 30px;
    margin: 10px;
}
.contact h1, .contact p, .contact-img {
    margin-left: 30%;
}

.lastOut {
    width: 50%;
}

.last {
    width: 30%;
    margin-top: 37.7%;
    float: right;
}
.last p {
    float: right;
}
